.blockchain-container.mt-3{id: "#{dom_id blockchain}", data: { controller: 'actions', 'actions-change-class': 'showDropdown', 'actions-display-class': 'hidden', "actions-url": blockchain_path(id: blockchain.id) },  }
  .blockchain-dropdown.flex.items-center.rounded-lg.border.border-gray-300.py-2.px-4.gap-4
    .dropdown
      .container
        %p.text-sm.text-gray-900.bg-gray-50.dark:bg-gray-700.dark:border-gray-600.dark:text-white
          = blockchain.block_hash
    %button.text-amber-700.border.border-amber-700.hover:bg-amber-700.hover:text-white.focus:ring-4.focus:outline-none.focus:ring-amber-300.font-medium.rounded-full.text-sm.p-2.5.text-center.inline-flex.items-center.mr-2.dark:border-amber-500.dark:text-amber-500.dark:hover:text-white.dark:focus:ring-amber-800{:class=> "p-2.5", :type => "button", "data-action": "actions#showData"}
      .down{"data-actions-target": 'down'}
        %svg.w-3.h-3{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M19 14l-7 7m0 0l-7-7m7 7V3", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
      .up.hidden{"data-actions-target": 'up'}
        %svg.w-3.h-3{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M5 10l7-7m0 0l7 7m-7-7v18", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    %button.text-red-700.border.border-red-700.hover:bg-red-700.hover:text-white.focus:ring-4.focus:outline-none.focus:ring-red-300.font-medium.rounded-full.text-sm.p-2.5.text-center.inline-flex.items-center.mr-2.dark:border-red-500.dark:text-red-500.dark:hover:text-white.dark:focus:ring-red-800.p-2.5.px-4{data: {action: "click -> actions#delete"}}
      Delete
  .dropdown-content.p-4.mt-2.mx-auto{"data-actions-target": 'dropdown'}
    %ul.list-information
      %li
        %p
          %span.font-bold hash:
          = blockchain.block_hash
      %li
        %p
          %span.font-bold prev_block:
          = blockchain.prev_block
      %li
        %p
          %span.font-bold block_index:
          = blockchain.block_index
      %li
        %p
          %span.font-bold time:
          = blockchain.time
      %li
        %p
          %span.font-bold bits:
          = blockchain.bits
      %li
        %p
          %span.font-bold ver:
          = blockchain.ver
      %li
        %p
          %span.font-bold mrkl_root:
          = blockchain.mrkl_root
      %li
        %p
          %span.font-bold nonce:
          = blockchain.nonce
      %li
        %p
          %span.font-bold n_tx:
          = blockchain.n_tx
      %li
        %p
          %span.font-bold size:
          = blockchain.size
      %li
        %p
          %span.font-bold main_chain:
          = blockchain.main_chain
      %li
        %p
          %span.font-bold height:
          = blockchain.height
